@import url("../../Styles/utility.css");

.res-img {
  max-width: 100%;
  object-fit: cover;
}

.circle-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.rounded-img {
  border-radius: 5px;
  width: 180px;
  height: 180px;
  object-fit: cover;
}
