@import url("../../Styles/utility.css");
@import url("../Rating/rating.css");

/* Basic Card */
.basic-card {
  max-width: 360px;
  background-color: white;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}

.basic-card-primary {
  width: 92%;
  margin: 0 auto;
}

.basic-card-primary-h2 {
  color: black;
}

.basic-card-primary-h3 {
  color: var(--basic-card-primary-h3);
  font-weight: 400;
  font-size: 1rem;
  margin-top: -15px;
}

.basic-card-details {
  width: 92%;
  margin: 0 auto;
}

.basic-card-secondary p {
  color: var(--basic-card-secondary-p);
  font-size: 1rem;
}

.basic-card-actions {
  width: 92%;
  margin: 0 auto;
  padding-bottom: 0.7rem;
  display: flex;
  align-items: center;
}

.basic-card-actions-secondary {
  margin-left: auto;
  font-size: 1rem;
}

.primary-action,
.secondary-action {
  height: 2.5rem;
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.primary-action:hover,
.secondary-action:hover {
  background-color: #e6eaeb;
}

.primary-action {
  font-weight: bold;
  color: var(--primary-action);
  padding: 0rem 0.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: inherit;
}

.secondary-action {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: var(--secondary-action);
}

/* Text Over Media */
.basic-card-image {
  max-width: 100%;
  object-fit: cover;
}

.basic-card-image-title {
  position: relative;
  display: flex;
  flex-direction: column;
}

.text-overlay-h3 {
  font-weight: 400;
  font-size: 1rem;
  margin-top: -20px;
}

.text-overlay {
  color: white;
  position: absolute;
  bottom: 0;
  left: 15px;
}

/* Horizontal Card */
.horizontal-card {
  max-width: 400px;
  background-color: white;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}

.horizontal-card-image-title {
  display: flex;
}

.horizontal-image {
  height: 120px;
  max-width: 100%;
}

.horizontal-primary {
  padding-left: 0.5rem;
  align-self: center;
}

.horizontal-h2 {
  font-size: 110%;
}
.horizontal-h3 {
  font-size: 92%;
}

/* Shadow Card */
.shadow {
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.5);
}

/* Badge Card */
.badge-image-title {
  position: relative;
}

.dot {
  width: 30px;
  height: 30px;
  padding: 3px;
  position: absolute;
  background-color: white;
  color: black;
  border-radius: 50%;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

/* Dismiss Card */
.dismiss {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  cursor: pointer;
}

/* Product Card */
.product-card {
  max-width: 550px;
  display: flex;
  background-color: white;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.3);
}

.product-card-image {
  max-width: 40%;
  background-color: rgba(196, 196, 196, 0.5);
}

.product-image {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-card-container {
  width: 60%;
}

.product-card-info {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}

.product-card-details > * {
  margin: 0;
}

.product-title {
  margin-bottom: 12px;
}

.product-price {
  font-weight: bold;
  font-size: 1.2rem;
}

.product-discount-price {
  margin-left: 10px;
  color: var(--basic-card-secondary-p);
  text-decoration: line-through;
}

.product-discount {
  font-size: 1rem;
  margin-top: 4px;
  font-weight: bold;
}

.product-card-details {
  padding: 1rem 0;
}

.product-quantity-container {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.product-quantity-handle {
  margin-left: 26px;
}

.prod-quantity {
  width: 25px;
  padding: 2px;
  text-align: center;
}

.product-card-actions {
  margin-bottom: 1rem;
}

.prod-rfc,
.prod-mtw {
  width: 100%;
  padding: 0.6rem 0;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.prod-rfc {
  margin-bottom: 0.6rem;
  border: none;
  background-color: var(--rating-color);
}

.prod-mtw {
  border: 1px solid var(--highlight-color);
  background-color: transparent;
  color: var(--highlight-color);
}

/* Vertical Product Card */
.product-vertical-image {
  max-width: 100%;
}

.product-price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.6rem;
}

.read-only-rating {
  padding: 4px;
}

/* Responsive */
@media only screen and (max-width: 375px) {
  .basic-card,
  .horizontal-card,
  .shadow {
    width: 100%;
    margin: 0 auto;
  }

  .basic-card-actions {
    width: 98%;
  }

  .primary-action {
    font-size: 60%;
  }

  .horizontal-h2 {
    font-size: 90%;
  }

  .horizontal-h3 {
    font-size: 80%;
  }
}
