<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../Images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../Styles/doc.css">
    <link rel="stylesheet" href="./text_utility.css">
    <title>Text Utilities | Plume UI</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>Plume UI</h1>
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </header>
    <!-- Sidebar -->
    <aside class="components-list">
        <nav class="components">
            <a href="../Usage/usage.html">Getting Started</a>
            <a href="../Avatar/avatar.html">Avatar</a>
            <a href="../Alert/alert.html">Alert</a>
            <a href="../Badge/badge.html">Badge</a>
            <a href="../Button/button.html">Button</a>
            <a href="../Card/card.html">Card</a>
            <a href="../Image/image.html">Image</a>
            <a href="../Input/input.html">Input</a>
            <a href="../List/list.html">List</a>
            <a href="../Modal/modal.html">Modal</a>
            <a href="../Navigation/navigation.html">Navigation</a>
            <a href="../Rating/rating.html">Rating</a>
            <a href="../Grid/grid.html">Simplified Grid</a>
            <a href="../Toast/toast.html">Toast</a>
            <a href="#" class="active">Text Utilities</a>
        </nav>
    </aside>
    <!-- Content -->
    <main>
        <div class="content">
            <h2 class="content-title">Text Utilities</h2>
            <p class="content-brief">
                Text Utilities are basically for setting Headings and Text size, color or simply align it.
            </p>
            <hr>
            <div class="content-usage">
                <h3>Headings</h3>
                <p>All HTML headings, &lt;h1&gt; through &lt;h6&gt;, are available. </p>
                <h1>h1 PlumeUI Heading</h1>
                <h2>h2 PlumeUI Heading</h2>
                <h3>h3 PlumeUI Heading</h3>
                <h4>h4 PlumeUI Heading</h4>
                <h5>h5 PlumeUI Heading</h5>
                <h6>h6 PlumeUI Heading</h6>
                <div class="code-display">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ch1%253Eh1%2520PlumeUI%2520Heading%253C%252Fh1%253E%250A%253Ch2%253Eh2%2520PlumeUI%2520Heading%253C%252Fh2%253E%250A%253Ch3%253Eh3%2520PlumeUI%2520Heading%253C%252Fh3%253E%250A%253Ch4%253Eh4%2520PlumeUI%2520Heading%253C%252Fh4%253E%250A%253Ch5%253Eh5%2520PlumeUI%2520Heading%253C%252Fh5%253E%250A%253Ch6%253Eh6%2520PlumeUI%2520Heading%253C%252Fh6%253E"
                        style="width: 100%; height: 186px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
            <hr>
            <div class="content-usage">
                <h3>Small Text</h3>
                <span>PlumeUI Small Text</span>
                <div class="code-display">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cspan%253EPlumeUI%2520Small%2520Text%253C%252Fspan%253E"
                        style="width: 100%; height: 90px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
            <hr>
            <div class="content-usage">
                <h3>Gray Text</h3>
                <span>Gray Text adds color to text for Highlighting.</span>
                <p class="gray-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                <div class="code-display">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522gray-text%2522%253ELorem%2520ipsum%2520dolor%2520sit%2520amet%2520consectetur%252C%2520adipisicing%2520elit.%253C%252Fp%253E"
                        style="width: 100%; height: 90px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
            <hr>
            <div class="content-usage">
                <h3>Center Text</h3>
                <p>To center Text.</p>
                <div class="feat-nav">
                    <div class="center-text">
                        <span>This Text is Centered.</span>
                    </div>
                </div>
                <div class="code-display">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522center-text%2522%253E%250A%2509%253Cspan%253EThis%2520Text%2520is%2520Centered.%253C%252Fspan%253E%250A%253C%252Fdiv%253E"
                        style="width: 100%; height: 135px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
            <hr>
            <footer>
                <a href="../Toast/toast.html" class="prev">
                    <span class="material-icons-outlined">navigate_before</span>Toast
                </a>
            </footer>
        </div>
    </main>
    <script src="../../Js/nav.js"></script>
</body>
</html>