<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../Images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../Styles/doc.css">
    <link rel="stylesheet" href="./avatar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <title>Avatar | Plume UI</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>Plume UI</h1>
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </header>

    <!-- Sidebar -->
    <aside class="components-list">
        <nav class="components">
            <a href="../Usage/usage.html">Getting Started</a>
            <a href="#" class="active">Avatar</a>
            <a href="../Alert/alert.html">Alert</a>
            <a href="../Badge/badge.html">Badge</a>
            <a href="../Button/button.html">Button</a>
            <a href="../Card/card.html">Card</a>
            <a href="../Image/image.html">Image</a>
            <a href="../Input/input.html">Input</a>
            <a href="../List/list.html">List</a>
            <a href="../Modal/modal.html">Modal</a>
            <a href="../Navigation/navigation.html">Navigation</a>
            <a href="../Rating/rating.html">Rating</a>
            <a href="../Grid/grid.html">Simplified Grid</a>
            <a href="../Toast/toast.html">Toast</a>
            <a href="../Text_Utilities/text_utility.html">Text Utilities</a>
        </nav>
    </aside>

    <!-- Content -->
    <main>
        <div class="content">
            <h2 class="content-title">Avatar</h2>
            <p class="content-brief">
                An Avatar is a representation of users profile picture used primarily in chat and entertainment web sites to give them recognisable visual identity.
            </p>
            <hr>
            <div class="content-usage">
                <h3>Profile Avatars</h3>
                <p>Profile Avatars can be created using the class '.avatar' inside the img tag.</p>
                <img src="https://avatars.dicebear.com/api/micah/maya.svg?background=%23f28482" alt="user" class="avatar">
                <div class="code-display">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=auto&width=680&ds=false&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522Enter%2520Image%2520Source%2522%2520alt%253D%2522user%2522%2520class%253D%2522avatar%2522%253E"
                        style="width: 100%; height: 93px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
            <hr>
            <div class="content-feature">
                <h3>Sizes</h3>
                <div class="content-feature-display">
                    <p>Want more control over your avatars? Add .avatar-lg, .avatar-md, .avatar-sm for additional sizes.</p>
                    <img src="https://avatars.dicebear.com/api/micah/elon.svg?background=%23A2D2FF" alt="user" class="avatar avatar-lg">
                    <img src="https://avatars.dicebear.com/api/micah/aman.svg?background=%23ffe085" alt="user" class="avatar avatar-md">
                    <img src="https://avatars.dicebear.com/api/micah/richard.svg?background=%23C8B6FF" alt="user" class="avatar avatar-sm">
                </div>
            </div>
            <div class="code-display">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=auto&width=680&ds=false&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522Enter%2520Image%2520Source%2522%2520alt%253D%2522user%2522%2520class%253D%2522avatar%2520avatar-lg%2522%253E%250A%253Cimg%2520src%253D%2522Enter%2520Image%2520Source%2522%2520alt%253D%2522user%2522%2520class%253D%2522avatar%2520avatar-md%2522%253E%250A%253Cimg%2520src%253D%2522Enter%2520Image%2520Source%2522%2520alt%253D%2522user%2522%2520class%253D%2522avatar%2520avatar-sm%2522%253E"
                    style="width: 100%; height: 130px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <hr>
            <footer>
                <a href="../Usage/usage.html" class="prev">
                    <span class="material-icons-outlined">navigate_before</span>Usage
                </a>
                <a href="../Alert/alert.html" class="next">Alert <span class="material-icons-outlined">navigate_next</span></a>
            </footer>
        </div>
    </main>
    <script src="../../Js/nav.js"></script>
</body>
</html>