.avatar {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  max-width: 100%;
}

.avatar-lg {
  width: 8rem;
  height: 8rem;
}

.avatar-md {
  width: 6rem;
  height: 6rem;
}

.avatar-sm {
  width: 4rem;
  height: 4rem;
}
