<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Styles/doc.css">
    <link rel="stylesheet" href="./toast.css">
    <title>Toast | Plume UI</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>Plume UI</h1>
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </header>
    <!-- Sidebar -->
    <aside>
        <nav>
            <a href="../Usage/usage.html">Getting Started</a>
            <a href="../Avatar/avatar.html">Avatar</a>
            <a href="../Alert/alert.html">Alert</a>
            <a href="../Badge/badge.html">Badge</a>
            <a href="../Button/button.html">Button</a>
            <a href="../Card/card.html">Card</a>
            <a href="../Image/image.html">Image</a>
            <a href="../Input/input.html">Input</a>
            <a href="../List/list.html">List</a>
            <a href="../Modal/modal.html">Modal</a>
            <a href="../Navigation/navigation.html">Navigation</a>
            <a href="../Rating/rating.html">Rating</a>
            <a href="../Grid/grid.html">Simplified Grid</a>
            <a href="#" class="active">Toast</a>
            <a href="../Text_Utilities/text_utility.html">Text Utilities</a>
        </nav>
    </aside>
    <!-- Content -->
    <main>
        <div class="content">
            <h2 class="content-title">Toast</h2>
            <p class="content-brief">
                Toast are often used as tooltips/popups to show a message at the bottom or right side of the screen.
            </p>
            <hr>
            <div class="content-usage">
                <h3>Basic Toast</h3>
                <p>Click on the Button to Show the Toast.</p>
                <button class="toast-btn">Click</button>
                <div id="toast">This is a Toast.</div>
                <div class="code-display">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522toast-btn%2522%253EClick%253C%252Fbutton%253E%250A%253Cdiv%2520id%253D%2522toast%2522%253EThis%2520is%2520a%2520Toast.%253C%252Fdiv%253E"
                        style="width: 100%; height: 110px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
            <hr>
            <footer>
                <a href="../Grid/grid.html" class="prev">
                    <span class="material-icons-outlined">navigate_before</span>Simplified Grid
                </a>
                <a href="../Text_Utilities/text_utility.html" class="next">Text Utility
                    <span class="material-icons-outlined">navigate_next</span>
                </a>
            </footer>
        </div>
    </main>
    <script src="../../Js/app.js"></script>
</body>
</html>