<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Styles/doc.css">
    <link rel="stylesheet" href="./list.css">
    <title>List | Plume UI</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>Plume UI</h1>
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </header>
    <!-- Sidebar -->
    <aside>
        <nav>
            <a href="../Usage/usage.html">Getting Started</a>
            <a href="../Avatar/avatar.html">Avatar</a>
            <a href="../Alert/alert.html">Alert</a>
            <a href="../Badge/badge.html">Badge</a>
            <a href="../Button/button.html">Button</a>
            <a href="../Card/card.html">Card</a>
            <a href="../Image/image.html">Image</a>
            <a href="../Input/input.html">Input</a>
            <a href="#" class="active">List</a>
            <a href="../Nav/nav.html">Navigation</a>
            <a href="../Toast/toast.html">Toast</a>
        </nav>
    </aside>
    <!-- Content -->
    <main>
        <div class="content">
            <h2 class="content-title">List</h2>
            <p class="content-brief">
                List specifies the listing of the contents or items in a particular manner i.e. it can either be organized orderly or unorder way.
            </p>
            <hr>
            <div class="content-usage">
                <h3>Normal List</h3>
                <p>There are two types of List i.e. ordered list and unordered list</p>
                <div class="demo">
                    <ol>
                        <li>Breaking Bad</li>
                        <li>Dark</li>
                        <li>Money Heist</li>
                        <li>Game of Thrones</li>
                    </ol>
                    <ul>
                        <li>Milk</li>
                        <li>Eggs</li>
                        <li>Bread</li>
                        <li>Butter</li>
                    </ul>
                </div>
                <div class="code-display">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Col%253E%250A%2509%253Cli%253EBreaking%2520Bad%253C%252Fli%253E%250A%2509%253Cli%253EDark%253C%252Fli%253E%250A%2509%253Cli%253EMoney%2520Heist%253C%252Fli%253E%250A%2509%253Cli%253EGame%2520of%2520Thrones%253C%252Fli%253E%250A%253C%252Fol%253E%250A%253Cul%253E%250A%2509%253Cli%253EMilk%253C%252Fli%253E%250A%2509%253Cli%253EEggs%253C%252Fli%253E%250A%2509%253Cli%253EBread%253C%252Fli%253E%250A%2509%253Cli%253EButter%253C%252Fli%253E%250A%253C%252Ful%253E"
                        style="width: 100%; height: 300px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
            <hr>
            <div class="content-feature">
                <h3>Stacked List</h3>
                <div class="content-feature-display">
                    <p>To give a title to list and stack the list Items.
                    </p>
                    <ul class="stack-list">
                        <div class="stack-list-title">Gadgets</div>
                        <li>Smartphones</li>
                        <li>Watches</li>
                        <li>Headphones</li>
                        <li>Keyboard</li>
                    </ul>
                </div>
            </div>
            <div class="code-display">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cul%2520class%253D%2522stack-list%2522%253E%250A%2509%253Cdiv%2520class%253D%2522stack-list-title%2522%253EGadgets%253C%252Fdiv%253E%250A%2509%253Cli%253ESmartphones%253C%252Fli%253E%250A%2509%253Cli%253EWatches%253C%252Fli%253E%250A%2509%253Cli%253EHeadphones%253C%252Fli%253E%250A%2509%253Cli%253EKeyboard%253C%252Fli%253E%250A%253C%252Ful%253E"
                    style="width: 100%; height: 200px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <hr>
            <footer>
                <a href="../Input/input.html" class="prev">
                    <span class="material-icons-outlined">navigate_before</span>Input
                </a>
                <a href="../Navigation/navigation.html" class="next">Navigation <span
                        class="material-icons-outlined">navigate_next</span></a>
            </footer>
        </div>
    </main>
</body>
</html>