<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../Images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../Styles/doc.css">
    <link rel="stylesheet" href="./rating.css">
    <title>Rating | Plume UI</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>Plume UI</h1>
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </header>
    <!-- Sidebar -->
    <aside>
        <nav>
            <a href="../Usage/usage.html">Getting Started</a>
            <a href="../Avatar/avatar.html">Avatar</a>
            <a href="../Alert/alert.html">Alert</a>
            <a href="../Badge/badge.html">Badge</a>
            <a href="../Button/button.html">Button</a>
            <a href="../Card/card.html">Card</a>
            <a href="../Image/image.html">Image</a>
            <a href="../Input/input.html">Input</a>
            <a href="../List/list.html">List</a>
            <a href="../Modal/modal.html">Modal</a>
            <a href="../Navigation/navigation.html">Navigation</a>
            <a href="#" class="active">Rating</a>
            <a href="../Grid/grid.html">Simplified Grid</a>
            <a href="../Toast/toast.html">Toast</a>
            <a href="../Text_Utilities/text_utility.html">Text Utilities</a>
        </nav>
    </aside>
    <!-- Content -->
    <main>
        <div class="content">
            <h2 class="content-title">Rating</h2>
            <p class="content-brief">
                Rating Shows the opinion of others and their experience with the product, you can use stars or other custom icons in it.
            </p>
            <hr>
            <div class="content-usage">
                <h3>Read Only Rating</h3>
                <p>Sometimes we while listing a product we need to display the rating of the product which has to be ready-only component.</p>
                <div class="read-only-rating">
                    <span class="small">3.5</span>
                    <span class="material-icons-round">star_border</span>
                </div>
                <div class="code-display">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522read-only-rating%2522%253E%250A%2509%253Cspan%2520class%253D%2522small%2522%253E3.5%253C%252Fspan%253E%250A%2509%253Cspan%2520class%253D%2522material-icons-round%2522%253Estar_border%253C%252Fspan%253E%250A%253C%252Fdiv%253E"
                        style="width: 100%; height: 145px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
            <hr>
            <footer>
                <a href="../Navigation/navigation.html" class="prev">
                    <span class="material-icons-outlined">navigate_before</span>Navigation
                </a>
                <a href="../Grid/grid.html" class="next">Simplified Grid <span
                        class="material-icons-outlined">navigate_next</span></a>
            </footer>
        </div>
    </main>
</body>
</html>