<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Styles/doc.css">
    <link rel="stylesheet" href="./badge.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <title>Badge | Plume UI</title>
</head>

<body>
    <header>
        <div class="logo">
            <h1>Plume UI</h1>
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </header>

    <!-- Sidebar -->
    <aside>
        <nav>
            <a href="../Usage/usage.html">Getting Started</a>
            <a href="../Avatar/avatar.html">Avatar</a>
            <a href="../Alert/alert.html">Alert</a>
            <a href="#" class="active">Badge</a>
            <a href="../Button/button.html">Button</a>
            <a href="../Card/card.html">Card</a>
            <a href="../Image/image.html">Image</a>
            <a href="../Input/input.html">Input</a>
            <a href="../List/list.html">List</a>
            <a href="../Modal/modal.html">Modal</a>
            <a href="../Navigation/navigation.html">Navigation</a>
            <a href="../Rating/rating.html">Rating</a>
            <a href="../Grid/grid.html">Simplified Grid</a>
            <a href="../Toast/toast.html">Toast</a>
            <a href="../Text_Utilities/text_utility.html">Text Utilities</a>
        </nav>
    </aside>

    <!-- Content -->
    <main>
        <div class="content">
            <h2 class="content-title">Badge</h2>
            <p class="content-brief">
                Badges are small circles, positioned either at top-right or bottom-right of the parent component.Badge can be used to display numbers, online / offline status, depending on where they are used.
            </p>
            <hr>
            <div class="content-usage">
                <h3>Profile Badge</h3>
                <p>Profile Badge is used to show the current status of a user.</p>
                <div class="demo">
                    <div class="badge">
                        <img src="https://avatars.dicebear.com/api/micah/elon.svg?background=%23A2D2FF" alt="user" class="avatar">
                        <span class="status online"></span>
                    </div>
                    <div class="badge">
                        <img src="https://avatars.dicebear.com/api/micah/aman.svg?background=%23ffe085" alt="user" class="avatar">
                        <span class="status offline"></span>
                    </div>
                    <div class="badge">
                        <img src="https://avatars.dicebear.com/api/micah/richard.svg?background=%23C8B6FF" alt="user" class="avatar">
                        <span class="status busy"></span>
                    </div>
                </div>
                <div class="code-display">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=htmlmixed&width=680&ds=false&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253C%21--Add%2520class%2520online%2520%257C%2520offline%2520%257C%2520busy%2520for%2520variants--%253E%250A%253Cdiv%2520class%253D%2522badge%2522%253E%250A%2509%253Cimg%2520src%253D%2522Enter%2520Image%2520Source%2522%2520alt%253D%2522user%2522%2520class%253D%2522avatar%2522%253E%250A%2509%253Cspan%2520class%253D%2522status%2520online%2522%253E%253C%252Fspan%253E%250A%253C%252Fdiv%253E"
                        style="width: 100%; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
            <hr>
            <div class="content-feature">
                <h3>Icon Badge</h3>
                <div class="content-feature-display">
                    <p>Icon badge is used to show the no. of items present in the parent component.
                    </p>
                </div>
            </div>
            <div class="demo">
                <div class="badge">
                    <span class="material-icons-outlined md-54">
                        shopping_cart
                    </span>
                    <span class="status dot">2</span>
                </div>
                <div class="badge">
                    <span class="material-icons-outlined md-54">
                        mail
                    </span>
                    <span class="status dot">5</span>
                </div>
                <div class="badge">
                    <span class="material-icons-outlined md-54">
                        notifications
                    </span>
                    <span class="status dot">8</span>
                </div>
            </div>
            <div class="code-display">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=one-dark&wt=none&l=auto&width=680&ds=false&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522badge%2522%253E%250A%2509%253Cspan%2520class%253D%2522material-icons-outlined%2520md-54%2522%253E%250A%2509%2509notifications%250A%2509%253C%252Fspan%253E%250A%2509%253Cspan%2520class%253D%2522status%2520dot%2522%253E2%253C%252Fspan%253E%250A%253C%252Fdiv%253E"
                    style="width: 100%; height: 186px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <hr>
            <footer>
                <a href="../Alert/alert.html" class="prev">
                    <span class="material-icons-outlined">navigate_before</span>Alert
                </a>
                <a href="../Button/button.html" class="next">Button <span class="material-icons-outlined">navigate_next</span></a>
            </footer>
        </div>
    </main>
</body>
</html>