:root {
  --error-color: #ff595e;
  --error-bg: #ffadad;
  --warning-color: #ff9800;
  --warning-bg: #fbf8cc;
  --info-color: #0077b6;
  --info-bg: #ccdbfd;
  --success-color: #2b9348;
  --success-bg: #caffbf;
}

.alert {
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: 600px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 12px;
  font-size: 1rem;
}

.alert span:first-child {
  margin-right: 1rem;
}

.alert-error {
  color: var(--error-color);
  background-color: var(--error-bg);
}

.alert-warning {
  color: var(--warning-color);
  background-color: var(--warning-bg);
}

.alert-info {
  color: var(--info-color);
  background-color: var(--info-bg);
}

.alert-success {
  color: var(--success-color);
  background-color: var(--success-bg);
}

.alert span:nth-child(2) {
  color: black;
}

.alert-error-outline {
  color: var(--error-color);
  border: 3px solid var(--error-color);
}

.alert-warning-outline {
  color: var(--warning-color);
  border: 3px solid var(--warning-color);
}

.alert-info-outline {
  color: var(--info-color);
  border: 3px solid var(--info-color);
}

.alert-success-outline {
  color: var(--success-color);
  border: 3px solid var(--success-color);
}
