@import url("./utility.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.logo {
  color: var(--highlight-color);
}

h1 {
  font-weight: 700;
}

h3 {
  font-size: 1.4rem;
}

p {
  color: var(--para-link-color);
  font-size: 18px;
}

.active {
  font-weight: bold;
}

hr {
  height: 1px;
  background-color: #ced4da;
  border-width: 0;
}

/* Header */
header {
  height: 62px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 3;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.hamburger > div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

.hamburger {
  display: none;
}

/* Sidebar */
.components-list {
  height: 90vh;
  width: 300px;
  position: fixed;
  padding: 1rem 0 0.6rem 0;
  background-color: white;
}

.components-list:hover {
  overflow-y: auto;
}

.components-list::-webkit-scrollbar {
  width: 4px;
}

.components-list::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 10px;
}

.components {
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.components a {
  border-radius: 3px;
  padding: 0.7rem 0.4rem;
  color: #585a5c;
  transition: padding 0.3s ease-in-out;
}

.components a:hover {
  background-color: var(--highlight-color);
  color: white;
  padding-left: 0.8rem;
}

/* Content */
main {
  margin-left: 320px;
}

.content {
  max-width: 800px;
  padding-left: 0.2rem;
}

.content-title {
  font-size: 2rem;
}

.code-display {
  padding: 1.4rem 0;
}

.demo {
  display: flex;
}

.demo > div + div {
  margin-left: 15px;
}

/* Highlighted Component demo container */
.feat-nav {
  min-height: 100px;
  background-color: var(--stack-li);
  border: 1px solid var(--secondary-action);
  padding: 1rem 0.5rem;
}

/* Button Container */
.btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Footer */
footer {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: 500;
}

/* Media query */
@media screen and (max-width: 786px) {
  aside {
    z-index: 5;
    transform: translateX(-100%);
    overflow: auto;
    transition: all 0.3s ease-in-out;
  }

  main {
    margin-left: 0;
  }

  .content {
    width: 95%;
    margin: 0 auto;
  }

  .hamburger {
    display: block;
  }
}

.components-active {
  transform: translateX(0%);
}

@keyframes navLinkFadeIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navLinkFadeOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(50px);
  }
}

.toggle .line1 {
  transform: rotate(-48deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(+48deg) translate(-6px, -6px);
}
