@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

:root {
  font-family: "Poppins", sans-serif;
  --para-link-color: #6c757d;
  --basic-card-primary-h3: #636e72;
  --basic-card-secondary-p: #8b9a9b;
  --primary-action: #4361ee;
  --secondary-action: #636e72;
  --error-color: #e63946;
  --stack-li: #ecebeb;
  --link-hover-color: #cfbaf0;
  --scroll-color: #ced4da;
  --rating-color: #9381ff;
}
